.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
        'header header'
        'navi content';
    margin: 0 auto;
    width: 1200px;
}

.header {
    grid-area: header;
    background-color: lightgreen;
}

.header img {
    width: 100px;
}

.nav {
    grid-area: navi;
    background-color: lightcoral;

}

.content {
    grid-area: content;
    background-color: cornflowerblue;
}